<!DOCTYPE html>
<html>
<head>
  <title>My first Vue page</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/images.css?version=0.1">
  <link rel="stylesheet" href="css/shopping_list.css?version=0.2">
  <link rel="stylesheet" href="css/restaurant.css?version=0.2">

</head>
<body>

<h1>Example with JavaScript inside {{ }}</h1>

<p>The 'message' text from the Vue instance is put together with another text and a JavaScript expression. 
  <br>  The JavaScript expression creates a random integer between 1 and 6.</p>

<div id="app">
  {{ message }} <br>
  {{'Random number: ' + Math.ceil(Math.random()*6) }}

  <div v-bind:class="vueClass">This element is bound to the "pinkBG" class.</div>

</div>


<div id="app2">
  <div>
    <figure v-for="x in manyFoods">
      <img v-bind:src="x.url">
      <figcaption>{{ x.name }}</figcaption>
    </figure>
  </div>
  

</div>

<div id="app3">
  <form v-on:submit.prevent="addItem">
    <p>
      What do you need? <br>
      <input type="text" required placeholder="item name.." v-model="itemName">
    </p>
    <p>
      How many? <br>
      <input type="number" placeholder="number of items.." v-model="itemNumber">
    </p>
    <p>
      Important?
      <label>
        <input type="checkbox" v-model="itemImportant">
        {{ itemImportant }}
      </label>
    </p>
    <button type="submit">Add item</button>
  </form>
  <br>
  <hr>

  <div>
    <p><strong>Shopping list:</strong></p>
    <ul id="ulToFind">
      <li 
        v-for="item in shoppingList" 
        v-bind:class="{ impClass: item.important }"
        v-on:click="item.found=!item.found"
        v-show="!item.found">
          {{ item.name }}, {{ item.number}}
      </li>
    </ul>
    <ul id="ulFound">
      <li 
        v-for="item in shoppingList" 
        v-bind:class="{ impClass: item.important }"
        v-on:click="item.found=!item.found"
        v-show="item.found">
          {{ item.name }}, {{ item.number}}
      </li>
    </ul>
  </div>
</div>

<div id="app4">
  <form v-on:submit.prevent="addItem">
    <p>
      <h4>Order here:</h4>
    <label>
      <input type="radio" required value="Dinner" v-model="itemType" name="rbgType">Dinner
    </label><br>
    <label>
      <input type="radio" required value="Drink" v-model="itemType" name="rbgType">Drink
    </label><br>
    <label>
      <input type="radio" required value="Dessert" v-model="itemType" name="rbgType">Dessert
    </label>
    </p>
    <p v-show="itemType">
      <label>
        <select required v-model="itemName" v-on:change="newUrl">
          <option value="" selected disabled>Select item</option>
          <option v-for="item in preDefItems" v-bind:value="item.name" v-show="item.type===itemType" v-bind:data-url="item.imgUrl">
            {{ item.name }}
          </option>
        </select>
      </label>
    </p>
    <img v-bind:src="itemUrl">
    <p v-show="itemName">
      <input type="number" placeholder="How many?" v-model="itemNumber" required>
    </p>
    <button type="submit">Order</button>
  </form>
  <br>
  <hr>

  <div>
    <h4>Your order:</h4>
    <ul id="ulToFind">
      <li v-for="item in order">
          {{ item.name }}, {{ item.number}} <img v-bind:src="item.url">
      </li>
    </ul>

    </ul>
  </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="js/vue.js"></script>
<script src="js/images.js"></script>
<script src="js/shopping_list.js"></script>
<script src="js/restaurant.js"></script>

</body>
</html>
